[user]
	name = Andy Smith
	email = andy@helixnexus.uk
[core]
	editor = vim
[diff]
	tool = vimdiff
[mergetool]
	prompt = false
[merge]
	conflictstyle = diff3
[alias]
	# remove a file from index
	unadd = git reset HEAD
